# NSXT Connection variables
nsxt_username = "admin"
nsxt_password = "<NSXT_PASSWORD>"
nsxt_host = "10.160.143.80"
nsxt_ca_cert = <<-EOT
<NSXT_CA_CERTIFICATE_CONTENT>
EOT

# Additional Details
environment_name = "<ENVIRONMENT_IDENTIFIER>" # An identifier used to tag resources; examples: dev, EMEA, prod

east_west_transport_zone_name = "tpk_overlay_tz"

# Routers
nsxt_edge_cluster_name = "edge-cluster-01"
nat_gateway_ip = "10.159.144.255"
nsxt_t0_gateway_name= "tpk-t0"

# CF Infra configs
external_ip_pool_cidr="192.168.6.0/24"
external_ip_pool_gateway="192.168.6.1"
external_ip_pool_ranges_start="192.168.6.128"
external_ip_pool_ranges_end="192.168.6.250"

nsxt_lb_ssh_virtual_server_ip_address="192.168.2.10"
nsxt_lb_tcp_virtual_server_ip_address="192.168.2.10"
nsxt_lb_tcp_virtual_server_ports=["80"]
nsxt_lb_web_virtual_server_ip_address="192.168.2.10"

snat_segment_subnet = "192.168.0.0/16"
infra_segment_subnet = "192.168.0.1/23"
infra_management_subnet = "192.168.0.0/23"
infra_management_gateway = "192.168.0.1"
infra_management_reserved_ip_start = "192.168.0.1"
infra_management_reserved_ip_end = "192.168.0.10"
deploy_segment_subnet = "192.168.2.1/23"
service_segment_subnet = "192.168.4.1/23"
om_nat_ip = "192.168.0.10"

ops_manager_dns = "<HOST_NAME>.tpk.lvn.broadcom.net"
ops_manager_dns_servers = "10.160.143.74,192.19.189.10,192.19.189.20,192.19.189.30"
ops_manager_folder = "<ENVIRONMENT_IDENTIFIER>_pcf_vms" # create a folder in vcenter with this name
ops_manager_netmask = "255.255.255.0"
ops_manager_ntp = "ntp.broadcom.net"

# for avi config
# ops_manager_private_ip = "192.168.51.10"

# for nsxt config
ops_manager_public_ip="10.159.144.13"

#VCenter Connection details
vcenter_cluster = "tpk_vc01_cl01"
vcenter_datacenter = "tpk_vc01_dc"
vcenter_datastore = "CL01_vsanDatastore"
vcenter_host = "tpe-tpk-vc01.lvn.broadcom.net"
vcenter_password = "<VCENTER_PASSWORD>"
vcenter_resource_pool = "<ENVIRONMENT_IDENTIFIER>-rp" #create a resource pool in vcenter with this name
vcenter_username = "tpk-eso@vsphere.local"
